.border-rojo-oeste-caja{
    background-color: #DD1D1B;
    width: 40%;
    height: 10px;
}
.subtitulo-rojo-oeste-principal{
    text-align: left;
    font-size: 22px;
    color: #DD1D1B;
    font-weight: 500;
    font-family: 'Roboto';
}
.box-etiqueta-titulo-oeste {
    width: 100%;
    display: flex;
    border-bottom: 10px solid #DD1D1B;
}
.box-etiqueta-oeste {
    background-color: #DD1D1B;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child-card-borde-oeste {
    border-left: 10px solid #DD1D1B;
}

.child-card-borde-bottom-oeste {
  border-bottom: 10px solid #DD1D1B!important;
}

.child-card-borde-top-oeste{
  border-top: 10px solid #DD1D1B!important;
}



.child-card-oeste {
    width: 480px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    color: #3D3D3B !important;
}

.subtitulo-rojo-oeste-principal-home-repetida {
    text-align: left;
    font-size: 20px;
    color: #DD1D1B;
    font-weight: 500;
    font-family: 'Roboto';
}
.autor-tarjeta-horizontal-oeste{
    font-size: 18px;
    font-weight: 500;
    color: #DD1D1B;
    font-family: 'Roboto';
    margin: 0
}
.linea-roja{
    width: 5px;
    height: 80%;
    background-color: #DD1D1B;
    margin: 0;
}
.box-texto-footer-line-oeste{
    color: #DD1D1B;
}

.subtitulo-rojo-principal{
  color: #DD1D1B;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
}

.container-categoria-tarjeta-vertical-oeste{
  font-weight: 400;
  color: #DD1D1B;
  border-radius: 2px;
  font-size: 16px;
}


.container-post-text-oeste {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}



.container-post-text-oeste h3 {
    font-size: 26px;
    font-family: 'Roboto';
    font-weight: 900;
    line-height: 1.2em;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.container-post-text-oeste h4 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto';
    line-height: 1.2em;
    color: #DD1D1B;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.container-post-text-oeste p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2em;

    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.container-post-categoria-oeste {
  position: absolute;
  left: 0px;
  top: 20px;
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #DD1D1B;
  border-radius: 2px;
}
.container-post-completo-categoria-oeste {
  position: absolute;
  left: 0px;
  top: 20px;
  padding: 10px 35px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: #DD1D1B;
  border-radius: 2px;
}
.contenedor-banner-publicidad-segunda-oeste{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #DD1D1B;
  border-bottom: 2px solid #DD1D1B;
  /* margin-bottom: 50px; */
}

.child-card-borde-oesteplatense{
  border-left: 10px solid #DD1D1B;
}

.video-publicidad-post{
 width: 100%;
 height: 180px;
 object-fit: cover;
}

.foto-tarjeta-vertical.border-right-oeste{
  border-right: 4px solid #DD1D1B!important;
}

@media  (max-width: 765px) {

  .subtitulo-rojo-oeste-principal{
    font-size: 18px;
  }
  .box-etiqueta-oeste{
    width: 175px;
    height: 35px;
  }
  /* .child-card-oeste{
    width: 240px;
    height: 530px;
  } */
  .child-card-oeste {
    width: 50%;
    height: 490px;
  }
  .container-post-completo-categoria-oeste{
    padding: 3px 20px;
}


    .child-card-borde-oeste{
      width: 50%;
      border-left: 4px solid #DD1D1B;
      height: 490px;
    }
    .container-post-text-oeste h3{
        font-size: 14px;
      }
      .container-post-text-oeste p{
        font-size: 16px;
      }
      .container-post-text-oeste {
        justify-content: center;
        row-gap: 25px;
      }
      .container-post-categoria-oeste{
      padding: 0px 10px;
      font-size: 14px;
    }
    .autor-tarjeta-horizontal-oeste{
      font-size: 14px;
    }
    .container-post-text-oeste h4{
      font-size: 15px;
    }
  }

  @media (min-width:768px) and (max-width: 1023px) {
  .child-card-borde-oeste{
    width: 33%;
    height: 530px;
  }
  .child-card-oeste{
    width: 240px;
    height: 530px;
  }
  .container-post-text-oeste h3{
    font-size: 18px;
  }
  .container-post-text-oeste h4{
    font-size: 16px;
  }
  .container-post-text-oeste p{
    font-size: 14px;
  }
  }

  @media (min-width:1024px) and (max-width: 1440px) {
    .child-card-borde-oeste{
      width: 300px;
      height: 530px;
    }
    .child-card-oeste{
        width: 300px;
        height: 530px;
      }
      .container-post-text-oeste h3{
        font-size: 18px;
      }
      .container-post-text-oeste h4{
        font-size: 16px;
      }
      .container-post-text-oeste p{
        font-size: 14px;
      }
      .container-post-completo-categoria-oeste{
        padding: 5px 20px;
    }
    .video-publicidad-post{
      height: 100px;
    }
  }

  @media (min-width:1440px) and (max-width: 1700px) {
    .child-card-borde-oeste{
      width: 420px;
    }
}